#app {
    position: relative;
}

.todo__tasklist {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
}

.todo__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
    background-color: #f8f9fa;
}

.task {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.task__descr {
    flex: 0 0 70%;
}
.task__descr--resolved{
    text-decoration: line-through;
}
.task__controls {
    flex: 0 0 30%;
}

.task__controls button {
    border: none;
    outline: none;

}